<form action='/books/<%= @book.id %>' method='POST'>
<p><label for='article[title]'>Title:</label><input type='text' name='article[title]' value='<%= @article.title %>'></p>
Author: <input type=”text” name=”book[author]” value=”<%= @book.author %>”><br>
<input type=”hidden” name=”_method” value=”PATCH”>
<input type=”submit”/>
</form>