<form action='/books/<%= @book.id %>' method='POST'>
  <p><label for='article[title]'>Title:</label><input type='text' name='article[title]' id='title' value='<%= @article.title %>'></p>
  <p><label for='article[content]'>Content:</label><input type='text' name='article[content]' value='<%= @article.content %>' id='content'></p>
  <input type='hidden' name='_method' value='PATCH'>
  <input type='submit' value='submit'>
</form>